body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-image: url('../img/bg.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: pixel;
  src: url(Jersey10-Regular.ttf);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#toTop {
  position: fixed;
  right: 1rem;
  bottom: -5rem;
  opacity:0;
  animation: toTop linear forwards;
  animation-timeline: view();
  animation-range-start: 90vh;
  animation-range-end: 130vh;
  background-color: #2A2AC9;
  color: #ffffff;
}

#toTop:hover {
    background-color: #3963FF !important;
}

@keyframes toTop {
 to { 
     opacity: 1;
     bottom:1rem;
     }
}

h1,h2 {
    font-weight: normal !important;
    font-family: pixel;
}

h2 {
    font-size: 58px !important; /* 48px with pixelifysans */
    margin-bottom: -10px !important;
}

h3 {
    font-weight: normal !important;
    font-family: pixel;
    font-size: 42px !important; /* 32px with pixelifysans */
    margin-bottom: -20px !important;
}

.welcome {
    font-size: 800% !important;
    margin-bottom: 5%;
}

@media screen and (max-width: 1126px) {
    .welcome {
        font-size: 250% !important;
        width: 75% !important;
    }
    h1 {
        font-size: 150% !important;
    }
    h2 {
        font-size: 125% !important;
    }
    .carousel {
        width: 100% !important;
    }
}

.navbar-brand {
    image-rendering: pixelated;
    
    width: calc(0.5% + 150px) !important;
}

nav {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    color: #ffffff !important;
    border-radius: 0% !important;
    font-family: pixel;
    font-size: 18px !important; /* none with pixelifysans */
}

.nav-item {
    color: #ffffff !important;
    background-color: #3963FF !important;
    border-radius: 0% !important;
    width: 150px;
    text-align: center !important;
}

l {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: x-small !important;
    text-align: right !important;
    margin-top: 1% !important;
    margin-left: 50px;
}

@media screen and (max-width: 992px) {
    .nav-item {
        width: 100% !important;
    }
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .nav-item.active, .nav-item:active:focus, .open>.dropdown-toggle.nav-item {
    color: #ffffff !important;
    background-color: #60F6A6 !important;
}

.dropdown-menu {
    background-color: #2A2AC9 !important;
    border-radius: 0% !important;
    font-size: 18px !important; /* none with pixelifysans */
}

.dropdown-item {
    color: #ffffff !important;
    background-color: #2A2AC9 !important;
    border-radius: 0% !important;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item.active, .dropdown-item:active:focus, .open>.dropdown-toggle.dropdown {
    color: #ffffff !important;
    background-color: #3963FF !important;
}

nav a {
    color: #ffffff !important;
}

p {
    font-size: 18px;
}

.container {
    color: #212529 !important;
    align-content: center !important;
    margin: auto !important;
}

.card {
    border-radius: 0% !important;
    background-color: #212529 !important;
    color: #ffffff !important;
    margin-bottom: 10% !important;
    align-items: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: hidden !important;
}

@media screen and (max-width: 1300px) {
    .col-md-4 {
        width: 100% !important;
    }
    .card-text {
        width: 400px !important;
    }
    .sp-80 {
        width: 100% !important;
    }
}

.card-text {
    height: 150px !important;
}

.card img {
    border-radius: 0% !important;
    height: 230px !important;
    width: 388px !important;
}

.btn {
    border-radius: 0% !important;
}

.btn-primary {
    background-color: #3963FF !important;
    border-width: 0px !important;
    width: 100% !important;
}

.btn-primary:hover {
    background-color: #60F6A6 !important;
}

.progress {
    height: 2px !important;
}

.sp {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sp-80 {
    width: 40%;
    margin-left: auto !important;
    margin-right: auto !important;
}

img.zoomable {
    cursor: zoom-in;
}

img:active.zoomable {
    width: 110% !important;
    transform: translate(-5%,0);
    cursor: zoom-out;
    /*transform: scale(2);*/
}
/*img.zoomable {
    transition: transform .6s;
}*/

footer {
    padding: 10px;
    text-align: end;
    background-color: #2B3035;
    color: white !important;
}

footer p {
    font-size: small;
    margin-bottom: -10px;
    text-align: left;
}

footer a:link {
    color: #4DD0E1 !important;
}

footer .col-6 {
    margin-bottom: 2%;
}

p a:link {
    color: #2A2AC9;
}

img:not(#titleicon, #titleiconflip), .card, main, iframe {
  -webkit-animation: flip 1s;
  animation: flip 1s;
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}

.dark {
    background-color: #ffffff60 !important;
    border-radius: 100px;
    background-color: #2125291f;
}

.dark {
  -webkit-animation: pulse 1.5s;
  animation: pulse 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes pulse {
  from {
    border-radius: 100px;
  }
  to {
    border-radius: 10px;
  }
}
@keyframes pulse {
  from {
    border-radius: 100px;
  }
  to {
    border-radius: 10px;
  }
}

nav img,footer img {
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
}

.dgin:hover {
    content: url(../img/DGlogo.png);
}

.dglo:hover {
    content: url(../img/DGlogoshine.gif);
}

.nav-item:hover {
    .iconhome {
        content: url(../img/icon_home.gif);
    }
}

.nav-item:hover {
    .iconstudies {
        content: url(../img/icon_studies.gif);
    }
}

.nav-item:hover {
    .iconabout {
        content: url(../img/icon_about.gif);
    }
}

.nav-item:hover {
    .iconpigeon {
        content: url(../img/icon_pigeon.gif);
    }
}

#titleicon {
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
}

#titleiconflip {
    transform: scale(-1,1);
    image-rendering: pixelated !important;
    image-rendering: crisp-edges !important;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
}

.carousel {
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

.carousel img {
    height: 360px;
}

.carousel-caption {
    margin-bottom: -8% !important;
    background-color: #2B3035;
    margin-left: auto;
    margin-right: auto;
    border-top: 100px !important;
    border-radius: 30px !important;
    width: 50% !important;
}

.carousel-caption p a:link {
    font-size: 14px !important;
    color: #4DD0E1 !important;
}

h1 hr {
    border-width: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
    border-color: #212529 !important;
    border-radius: 10px;
    opacity: 100%;
}