body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-image: url('../img/bg.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
}

#toTop {
  position: fixed;
  right: 1rem;
  bottom: -5rem;
  opacity:0;
  animation: toTop linear forwards;
  animation-timeline: view();
  animation-range-start: 90vh;
  animation-range-end: 130vh;
  background-color: #2A2AC9;
  color: #ffffff;
}

#toTop:hover {
    background-color: #3963FF !important;
}

@keyframes toTop {
 to { 
     opacity: 1;
     bottom:1rem;
     }
}

h1,h2 {
    font-weight: normal !important;
}

.welcome {
    font-size: 800% !important;
}

@media screen and (max-width: 1126px) {
    .welcome {
        font-size: 250% !important;
    }
    h1 {
        font-size: 150% !important;
    }
    h2 {
        font-size: 125% !important;
    }
}

.navbar-brand {
    image-rendering: pixelated;
    
    width: calc(0.5% + 150px) !important;
}

nav {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    color: #ffffff !important;
    border-radius: 0% !important;
}

.nav-item {
    color: #ffffff !important;
    background-color: #3963FF !important;
    border-radius: 0% !important;
    width: 150px;
    text-align: center !important;
}

@media screen and (max-width: 992px) {
    .nav-item {
        width: 100% !important;
    }
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .nav-item.active, .nav-item:active:focus, .open>.dropdown-toggle.nav-item {
    color: #ffffff !important;
    background-color: #60F6A6 !important;
}

.dropdown-menu {
    background-color: #2A2AC9 !important;
    
    border-radius: 0% !important;
}

.dropdown-item {
    color: #ffffff !important;
    background-color: #2A2AC9 !important;
    border-radius: 0% !important;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item.active, .dropdown-item:active:focus, .open>.dropdown-toggle.dropdown {
    color: #ffffff !important;
    background-color: #3963FF !important;
}

nav a {
    color: #ffffff !important;
}

.container {
    color: #212529 !important;
    align-content: center !important;
}

.card {
    border-radius: 0% !important;
    background-color: #212529 !important;
    color: #ffffff !important;
    margin-bottom: 10% !important;
}

@media screen and (max-width: 1126px) {
    .card {
        width: 100% !important;
    }
}

.card img {
    border-radius: 0% !important;
    height: 230px !important;
}

.btn {
    border-radius: 0% !important;
}

.btn-primary {
    background-color: #3963FF !important;
    border-width: 0px !important;
    width: 100% !important;
}

.btn-primary:hover {
    background-color: #60F6A6 !important;
}

.progress {
    height: 2px !important;
}

footer {
  padding: 10px;
  text-align: end;
  background-color: #2B3035;
  color: white !important;
}

footer p {
    font-size: small;
    margin-bottom: -10px;
    text-align: left;
}

footer a:link {
    color: #3963FF;
}

img, .card {
  -webkit-animation: flip 1s;
  animation: flip 1s;
}
@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}