body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-image: url('bgnotyet.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-weight: normal !important;
}

.navbar-brand {
    image-rendering: pixelated;
}

nav {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    color: #ffffff !important;
    border-radius: 0% !important;
}

.nav-item {
    color: #ffffff !important;
    background-color: #3963FF !important;
    border-radius: 0% !important;
}

.nav-item:hover, .nav-item:focus, .nav-item:active, .nav-item.active, .nav-item:active:focus, .open>.dropdown-toggle.nav-item {
    color: #ffffff !important;
    background-color: #60F6A6 !important;
}

.dropdown-menu {
    background-color: #2A2AC9 !important;
    
    border-radius: 0% !important;
}

.dropdown-item {
    color: #ffffff !important;
    background-color: #2A2AC9 !important;
    border-radius: 0% !important;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active, .dropdown-item.active, .dropdown-item:active:focus, .open>.dropdown-toggle.dropdown {
    color: #ffffff !important;
    background-color: #3963FF !important;
}

nav a {
    color: #ffffff !important;
}

.container {
    color: #212529 !important;
    align-content: center !important;
}

.card {
    border-radius: 0% !important;
    height: 480px !important;
    background-color: #212529 !important;
    color: #ffffff !important;
    margin-bottom: 10% !important;
}

.card img {
    border-radius: 0% !important;
    height: 200px !important;
}

.btn {
    border-radius: 0% !important;
}

.btn-primary {
    background-color: #3963FF !important;
    border-width: 0px !important;
    width: 100% !important;
}

.btn-primary:hover {
    background-color: #60F6A6 !important;
}